$font-family-headline: 'Mulish', Helvetica, sans-serif;
$font-family-body: 'Mulish', Helvetica, sans-serif;

$font-weight-headline: 700;
$font-weight-body: 400;

$font-size-copy: 18px;
$font-size-methods: 14px;
